@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome to Booking website</h1>
    
    <img src="/ship-cabin-cottage-vranov-nad-dyji-p151121-b6.jpg"/>
</div>

