@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using IsaProject.Models.Users
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IsaProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IsaProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">

                        @if (SignInManager.IsSignedIn(User))
                        {
                    <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="Edit">Profile</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="DeleteProfile">Delete Profile</a>
                            </div>
                    </li>
                        }
                        
                        
                        @if ((await AuthorizationService.AuthorizeAsync(User, null, "UserPolicy")).Succeeded)
                        {
                            <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Entities
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cottages" asp-action="Index">Cottages</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Adventures" asp-action="Index">Adventures</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="ShipBookings" asp-action="Index">Ships</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="FastReservations" asp-action="GetFree">Fast Reservation</a>
                                
                            </div>
                            </li>
                            <li class="dropdown" aria-labelledby="dropdownMenuButton">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Appointments
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="GetMyReservation">My Reservation</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="GetMyHistoryReservationCottages">My cottage reservation history</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="GetMyHistoryReservationShips">My ship reservation history</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="GetMyHistoryReservationAdventures">My adventure reservation history</a>
                            </div>
                            </li>
                            <li class="dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Appeal
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appeals" asp-action="GetPossibleAppealForEntities">Entity appeal</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appeals" asp-action="GetPossibleAppealForUsers">User appeal</a>
                            </div>
                            </li>
                            <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Rating
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ratings" asp-action="GetPossibleRatingsForEntities">Entity rating</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ratings" asp-action="GetPossibleRatingsForUsers">User rating</a>
                            </div>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Subscriptions" asp-action="GetMySubscriptions">My Subscriptions</a>
                            </li>
                        }

                        @if ((await AuthorizationService.AuthorizeAsync(User, null, "AdminPolicy")).Succeeded)
                        {
                            <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                For approving
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="GetUnapprovedUsers">Accounts for approve</a>
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Appeals" asp-action="GetUnansweredAppeals">Appeals for answer</a>
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Ratings" asp-action="GetUnapprovedRatings">Rating for approve</a>
                                 <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="GetProfilesForDelete">Delete profiles</a>
                            </div>
                            </li>

                            <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                For adding
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Tags" asp-action="Index">Tags</a>
                            </div>
                            </li>}
                        @if ((await AuthorizationService.AuthorizeAsync(User, null, "CottageOwnerPolicy")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, null, "ShipOwnerPolicy")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, null, "FishingInstructorPolicy")).Succeeded)
                        {
                            <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Entities
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cottages" asp-action="GetMyCottages">My cottages</a>
                            </div>
                            </li>
                            <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Appointment
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="GetMyAppointmentOwner">Appointments</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="FastReservations" asp-action="GetMyFastReservationOwner">Fast reservations</a>
                            </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="p-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - IsaProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
